@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    /* height: 100dvh; */
}

html,
body,
#__nuxt,
#__layout {
    /* height:auto!important; */
    width: 100% !important;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

@layer components {
    .btn-common {
        @apply flex flex-row justify-center items-center text-xl text-center font-bold rounded-md text-bta-inverted dark:text-bta-dark gap-2;
    }

    .card-common {
        @apply flex flex-col justify-start items-center gap-4 p-[1rem] rounded-lg w-[100%] bg-[#ffe5d9] dark:bg-[#1b263b];
    }
}
